{% extends "base.html" %}
{% block title %} Тренерские заметки | {{ page_title }} {% endblock %}
{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Главная</a></span>
                        <span>{{ page_title }}</span></p>
                    <h1 class="bread">{{ page_title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row d-flex">
                        <div class="col-lg-8">
                            <div class="row">

                                {% for post in posts %}

                                    <div class="col-md-12">
                                        <div class="blog-entry ftco-animate">
                                            <a href="{% url 'post_detail' pk=post.pk %}"
                                               class="img img-2"
                                               style="background-image: url({{ post.image.url }}"></a>
                                            <div class="text pt-3">
                                                <h3 class="mb-2"><a
                                                        href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                                                </h3>
                                                <div class="meta-wrap">
                                                    <p class="meta">
                                                        <span class="post-details">
                                                        <span class="icon-calendar"></span>

                                                        <span>{{ post.published_date }}</span>
                                                        </span>
                                                        <span class="post-details">
                                                        <span class="icon-label"></span>

                                                        <span><a
                                                                href="{% url 'category_post_list' pk=post.category.pk %}">{{ post.category }}</a></span>
                                                        </span>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div><!-- END-->

                            <div class="row">
                                <div class="col">
                                    <div class="block-27">

                                        {% if posts.has_other_pages %}
                                            <ul>
                                                {% if posts.has_previous %}
                                                    <li><a href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                                                {% endif %}
                                                {% for i in posts.paginator.page_range %}
                                                    {% if posts.number == i %}
                                                        <li class="active"><span>{{ i }}<span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if posts.has_next %}
                                                    <li><a href="?page={{ posts.next_page_number }}">></a></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% include "blog/blog-sidebar.html" %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}