{% extends "base.html" %}
{% load static %}

{% block title %} Тренерские заметки | Главная {% endblock %}

{% block content %}

<section class="ftco-section ftco-bread ftco-extend-mb">
    <div class="container-fluid px-3 px-md-0">
        <div class="row no-gutters slider-text justify-content-end align-items-center">
            <div class="col-md-10 ftco-animate">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span>
                <h1 class="bread">Тренерские заметки</h1>
                <h2>Мария Лапина (Лысенко)</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-no-padding">
    <div class="container-fluid px-3 px-md-0">
        <div class="row justify-content-end">
            <div class="hero-wrap col-md-10">
                <div class="d-flex">

                    <div class="author-image text img p-md-5 js-fullheight"
                         style="background-image: url({% static 'images/maria_main.jpg' %})">
                    </div>

                    <div class="author-info text p-4 p-md-5 mt-5 mb-5 align-items-center d-flex ftco-animate">
                        <div class="desc">
                            <h1 class="mb-4">Добро пожаловать на мой персональный сайт! </h1>
                            {{ information.main_page_text | safe}}
                            <ul class="ftco-social mt-5">
                                <li class="ftco-animate"><a href="{{ information.vk_link }}"><span class="icon-vk"></span></a></li>
                                <li class="ftco-animate"><a href="{{ information.instagram_link }}"><span class="icon-instagram"></span></a></li>
                                <li class="ftco-animate"><a href="{{ information.youtube_link }}"><span class="icon-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}