{% extends "base.html" %}

{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
    <div class="container-fluid px-3 px-md-0">
        <div class="row no-gutters slider-text justify-content-end align-items-center">
            <div class="col-md-10 ftco-animate">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Главная</a></span>
                <h1 class="bread">{{ album_name }}</h1>
            </div>
        </div>
    </div>
</section>

    {% include "photo_gallery.html" %}

{% endblock %}