{% extends 'base.html' %}
{% block content %}

    	<section class="pager-section">
			<div class="container">
				<div class="pager-content text-center">
					<h2>Фотоальбомы</h2>
					<ul>
						<li><a href="/" title="">Домашняя страница</a></li>
						<li><span> Фотоальбомы </span></li>
					</ul>
				</div><!--pager-content end-->
				<h2 class="page-titlee">Фотоальбомы </h2>
			</div>
		</section><!--pager-section end-->

    <div class="gallery-image">
    {% for album in albums %}

    <div class="img-box">
        <a href="{% url 'get_photos_in_album' pk=album.pk %}">
            <img src="{{ album.cover.url }}" alt="" class="w-100">
      <div class="transparent-box">
        <div class="caption">
          <p>{{ album.title }}</p>
          <p class="opacity-low">{{ album.description }}</p>
        </div>
      </div>
        </a>
    </div>

        {% endfor %}
{#    <div class="img-box">#}
{#      <img src="https://picsum.photos/350/250/?image=232" alt="" />#}
{#      <div class="transparent-box">#}
{#        <div class="caption">#}
{#          <p>Night Sky</p>#}
{#          <p class="opacity-low">Cinematic</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="img-box">#}
{#      <img src="https://picsum.photos/350/250/?image=431" alt="" />#}
{#      <div class="transparent-box">#}
{#        <div class="caption">#}
{#          <p>Tea Talk</p>#}
{#          <p class="opacity-low">Composite</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="img-box">#}
{#      <img src="https://picsum.photos/350/250?image=474" alt="" />#}
{#      <div class="transparent-box">#}
{#        <div class="caption">#}
{#          <p>Road</p>#}
{#          <p class="opacity-low">Landscape</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="img-box">#}
{#      <img src="https://picsum.photos/350/250?image=344" alt="" />#}
{#      <div class="transparent-box">#}
{#        <div class="caption">#}
{#          <p>Sea</p>#}
{#          <p class="opacity-low">Cityscape</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="img-box">#}
{#      <img src="https://picsum.photos/350/250?image=494" alt="" />#}
{#      <div class="transparent-box">#}
{#        <div class="caption">#}
{#          <p>Vintage</p>#}
{#          <p class="opacity-low">Cinematic</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>

{% endblock %}