<div class="mdp-post-comments">
    <h3 class="mdp-sub-title">Комментарии</h3>
    <ul>
        <li>
            {% for comment in comments %}
            <div class="mdp-comment d-flex flex-wrap">
                <div class="mdp-com">
                    <h3>{{ comment.author }}</h3>
                    <span>{{ comment.created_date}}</span>
                    <p>{{ comment.text }}</p>
                </div>
            </div><!--mdp-comment end-->
            {% endfor %}
        </li>
    </ul>
</div><!--post-comments end-->