{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Контакты</span>
                    </p>
                    <h1 class="bread">Контакты</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section ftco-no-pt qa-content">
        <div class="container-fluid px-md-0 px-3">
            <div class="row mb-5 contact-info justify-content-end">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex">
                            <div class="info py-4">
                                <p><span>Адрес:</span> {{ main_information.address }} </p>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex">
                            <div class="info py-4">
                                <p><span>Телефон:</span> <a href="tel://1234567920">{{ main_information.phone }}</a></p>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex">
                            <div class="info py-4">
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">{{ main_information.email }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}