{% extends "base.html" %}
{% load static %}

{% block title %} Тренерские заметки | Анонсы {% endblock %}

{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Анонсы</span>
                    </p>
                    <h1 class="bread">Анонсы</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row mb-lg-5">

                        {% for event in events %}
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="media block-6 services d-block">
                                    <div class="media-body p-2 mt-3">
                                        <a href="{% url 'event_detail' pk=event.pk %}">
                                            <h3 class="heading">{{ event.title | truncatechars:50 }}</h3>
                                            <p>
                                        <span class="event-icon">
                                        <img src="{% static '/images/icons/Calendar_small.png' %}" alt="">
                                        </span>
                                                {{ event.datetime }}</p>
                                            <p>
                                                <span class="event-icon">
                                        <img src="{% static '/images/icons/Location.png' %}" alt="">
                                        </span>
                                                {{ event.address | truncatechars:45 }}</p>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    {#                Pagination Block#}

                    <div class="row">
                        <div class="col">
                            <div class="block-27">

                                {% if events.has_other_pages %}
                                    <ul>
                                        {% if events.has_previous %}
                                            <li><a href="?page={{ events.previous_page_number }}">&lt;</a></li>
                                        {% endif %}
                                        {% for i in events.paginator.page_range %}
                                            {% if events.number == i %}
                                                <li class="active"><span>{{ i }}<span
                                                        class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if events.has_next %}
                                            <li><a href="?page={{ events.next_page_number }}">></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}