<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 pl-lg-5">
                    <h2 class="ftco-heading-2">Основное</h2>
                    <ul class="list-unstyled categories">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/blog">Блог</a></li>
                        <li><a href="/events">Анонсы</a></li>
                        <li><a href="/qa">Вопрос-Ответ</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 pl-lg-5">
                    <h2>Материалы</h2>
                    <ul class="list-unstyled categories">
                        <li><a href="/albums">Галерея</a></li>
                        <li><a href="/video">Видео</a></li>
                        <li><a href="/book">Книга</a></li>
                        <li><a href="/links">Ссылки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Архив</h2>
                    <ul class="list-unstyled categories">
                        {% for post in archived_posts %}
                            <li>
                                <a href="{% url 'archived_posts' pk=post.published_date__year %}">
                                {{ post.published_date__year }}
                                    <span class="pr-lg-5">{{ post.count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Контакты</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="{{ main_information.address_2_google_map}}"><span class="icon icon-map-marker"></span><span class="text">{{ main_information.address_1 }}</span>
                            </a></li>
                            <li><a href="{{ main_information.address_2_google_map}}"><span class="icon icon-map-marker"></span><span class="text">{{ main_information.address_2 }}</span>
                            </a></li>
                            <li><a href="tel:{{ main_information.phone }}"><span class="icon icon-phone"></span><span
                                    class="text">{{ main_information.phone }}</span></a></li>
                            <li><a href="mailto:{{main_information.email}}"><span class="icon icon-envelope"></span><span class="text">{{ main_information.email }}</span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>