{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Фотоальбомы</span>
                    </p>
                    <h1 class="bread">Фотоальбомы</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row mb-lg-5">

                        {% for album in albums %}
                            <div class="col-md-4 project ftco-animate">
                                <div class="text text-2 text-center">
                                    <h2>{{ album.title }}</h2>
                                </div>
                                <a href="{% url 'get_photos_in_album' pk=album.pk %}">
                                    <div class="img js-fullheight" style="background-image: url({{ album.cover.url }})">

                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="block-27">

                                {% if albums.has_other_pages %}
                                    <ul>
                                        {% if albums.has_previous %}
                                            <li><a href="?page={{ albums.previous_page_number }}">&lt;</a></li>
                                        {% endif %}
                                        {% for i in albums.paginator.page_range %}
                                            {% if albums.number == i %}
                                                <li class="active"><span>{{ i }}<span
                                                        class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if albums.has_next %}
                                            <li><a href="?page={{ albums.next_page_number }}">></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}