<div class="navigation-bar d-flex flex-wrap align-items-center">
    <nav>
        <ul>
            <li><a class="active" href="/" title="">Главная</a></li>
            <li><a href="/" title="">Блог</a>
            <li><a href="/events" title="">Анонсы</a></li>
            <li><a href="/image_gallery" title="">Галерея</a></li>
            <ul>
                {% for category in categories %}
                    <li><a href="post.html" title="">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
            </li>
            <li><a href="contacts.html" title="">Контакты</a></li>
        </ul>
    </nav><!--nav end-->
    <ul class="social-links ml-auto">
        <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" title=""><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
    </ul>
</div><!--navigation-bar end-->
</div>
</header><!--header end-->

<div class="responsive-menu">
    <ul>
        <li><a href="/" title="">Главная</a></li>
        <li><a href="/" title="">Блог</a></li>
        <li><a href="/events" title="">Анонсы</a></li>
        <li><a href="/image_gallery" title="">Галерея</a></li>
        <li><a href="about.html" title="">About</a></li>
        <li><a href="events.html" title="">Events</a></li>
        <li><a href="event_single.html" title="">Event Single</a></li>
        <li><a href="schedule.html" title="">Schedule</a></li>
        <li><a href="classes.html" title="">Classes</a></li>
        <li><a href="class-single.html" title="">Classe Single</a></li>
        <li><a href="teachers.html" title="">Teachers</a></li>
        <li><a href="teacher-single.html" title="">Teacher Single</a></li>

        <li><a href="post.html" title="">Blog Single</a></li>
        <li><a href="contacts.html" title="">Contacts</a></li>
        <li><a href="error.html" title="">404</a></li>
    </ul>
</div><!--responsive-menu end-->