{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Вопрос-Ответ</span>
                    </p>
                    <h1 class="bread">Вопрос-Ответ</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0 qa-content">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row mb-lg-5">


                        {% for quest in questions %}
                            {% if quest.published %}
                                <div class="col-md-10 d-flex ftco-animate">
                                    <div class="media block-6 services d-block qa-block">
                                        <h3>Вопрос</h3>
                                        <div class="meta-wrap">
                                            <p class="meta">
                                                        <span class="post-details">
                                                        <span class="icon-calendar"></span>

                                                        <span>{{ quest.published_date }}</span>
                                                        </span>
                                                <span class="post-details">
                                                        <span class="icon-user"></span>

                                                        <span>{{ quest.author }}</span>
                                                        </span>

                                            </p>
                                        </div>
                                        <p>{{ quest.question }}</p>
                                        <h3>Ответ Марии</h3>
                                        <div class="row answer">
                                            <div class="col-md-2 d-flex">
                                                <div class="bio md-4">
                                                    <img src="{% static '/images/maria.png' %}" alt="Maria"
                                                         class="img-fluid mb-4">
                                                    {#                                                <p>Мария Лапина (Лысенко)</p>#}
                                                </div>

                                            </div>
                                            <div class="col-md-10 d-flex">
                                                <p>{{ quest.answer }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                                            <div class="col-md-10 d-flex ftco-animate">
                            <div class="sidebar-box subs-wrap">
                                <div class="img p-4">
                                    <div class="overlay"></div>
                                    <h3 class="mb-4 sidebar-heading">Задайте свой вопрос</h3>
                                    <p class="mb-4">Если Вам интересно узнать мое мнение по какому-либо вопросу, Вы
                                        можете задать его здесь. Он будет опубликован в рубрике "Вопрос-Ответ"</p>

                                    <form action="{% url 'qa' %}" class="subscribe-form" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="author" class="form-control" placeholder="Имя">
                                            <textarea class="form-control" rows="7" cols="45" name="question"
                                                      placeholder="Текст вопроса"></textarea>
                                            <input type="submit" value="Спросить" class="mt-2 btn btn-white submit">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                    {#                Pagination Block#}

                    <div class="row">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}