{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Спасибо за вопрос!</span>
                    </p>
                    <h1 class="bread">Спасибо за вопрос!</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <h2>Он будет опубликован, когда я отвечу на него</h2>


                    {#                Pagination Block#}

                    <div class="row">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}