{% extends "base.html" %}
{% block content %}

    <section class="pager-section">
			<div class="container">
				<div class="pager-content text-center">
					<h2>Обучающие видео</h2>
					<ul>
						<li><a href="/" title="">Домашняя страница</a></li>
                        <li><span>Обучающие видео</span></li>
					</ul>
				</div><!--pager-content end-->
				<h2 class="page-titlee">Обучающие видео </h2>
			</div>
		</section><!--pager-section end-->


<section class="pager-section">
			<div class="container">
                <div class="row">
<div class="col-lg-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RdGLkf2Ylu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
                <div class="col-lg-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RdGLkf2Ylu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
            </div>
                </div>
</section>

{% endblock %}