{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Видео</span>
                    </p>
                    <h1 class="bread">Видео</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row mb-lg-5">
                        {% for video in videos %}
                        <div class="col-md-6 d-flex ftco-animate">
                                <div class="media block-6 services d-block">
                                    <div class="media-body p-2 mt-3">
                                        <div class="video-block">
                                        <h2> {{ video.title }} </h2>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                        <p> {{ video.description }} </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="block-27">

                                {% if videos.has_other_pages %}
                                    <ul>
                                        {% if videos.has_previous %}
                                            <li><a href="?page={{ videos.previous_page_number }}">&lt;</a></li>
                                        {% endif %}
                                        {% for i in videos.paginator.page_range %}
                                            {% if videos.number == i %}
                                                <li class="active"><span>{{ i }}<span
                                                        class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if videos.has_next %}
                                            <li><a href="?page={{ videos.next_page_number }}">></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}