{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="ftco-section ftco-bread ftco-extend-mb">
        <div class="container-fluid px-3 px-md-0">
            <div class="row no-gutters slider-text justify-content-end align-items-center">
                <div class="col-md-10 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная</a></span> <span>Анонсы</span>
                    </p>
                    <h1 class="bread">Видеоуроки</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-section ftco-no-pt">
        <div class="container-fluid px-3 px-md-0">
            <div class="row justify-content-end">
                <div class="col-md-10">
                    <div class="row mb-lg-5">


                                                    <div class="col-md-6 d-flex ftco-animate">
                                <div class="media block-6 services d-block">
                                    <div class="media-body p-2 mt-3">
                                        <div class="video-block">
                                        <h2> Шахматная композиция </h2>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RdGLkf2Ylu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                        <p> В уроке дается краткое объяснение, что такое шахматная композиция </p>
                                    </div>
                                </div>
                                </div>
                            </div>

                                                    <div class="col-md-6 d-flex ftco-animate">
                                <div class="media block-6 services d-block">
                                    <div class="media-body p-2 mt-3">
                                        <div class="video-block">
                                        <h2> Шахматная композиция </h2>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RdGLkf2Ylu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                        <p> В уроке дается краткое объяснение, что такое шахматная композиция </p>
                                    </div>
                                </div>
                                </div>
                            </div>

                                                                            <div class="col-md-6 d-flex ftco-animate">
                                <div class="media block-6 services d-block">
                                    <div class="media-body p-2 mt-3">
                                        <div class="video-block">
                                        <h2> Шахматная композиция </h2>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RdGLkf2Ylu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                        <p> В уроке дается краткое объяснение, что такое шахматная композиция </p>
                                    </div>
                                </div>
                                </div>
                            </div>

                                                    <div class="col-md-6 d-flex ftco-animate">
                                <div class="media block-6 services d-block">
                                    <div class="media-body p-2 mt-3">
                                        <div class="video-block">
                                        <h2> Шахматная композиция </h2>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RdGLkf2Ylu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                        <p> В уроке дается краткое объяснение, что такое шахматная композиция </p>
                                    </div>
                                </div>
                                </div>
                            </div>


                    </div>





                    {#                Pagination Block#}

                    <div class="row">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}